<%- include('partials/allcheader') -%>
<div class="country">
  <div id="country" class="select">Country</div>
  <table>
              <tr>
                <td>Country</td>
                <td>Cases</td>
                <td>Today Cases</td>
                <td>Deaths</td>
                <td>Today Deaths</td>
                <td>Recovered Cases</td>
                <td>Active Cases</td>
                <td>Critical Cases</td>
                <td>Cases Per One Million</td>
                <td>Deaths Per One Million</td>
                <td>Total tests conducted</td>
                <td>Tests Per One Million</td>
              </tr>
        <%     for(var i=0;i<countrydetails.length;i++){ %>
                <tr>
                  <li><%= countryDetails[i].coName %></li>
                  <li><%= countryDetails[i].noc %></li>
                  <li><%= countryDetails[i].notc %></li>
                  <li><%= countryDetails[i].nod %></li>
                  <li><%= countryDetails[i].notd %></li>
                  <li><%= countryDetails[i].nor %></li>
                  <li><%= countryDetails[i].noa %></li>
                  <li><%= countryDetails[i].nocpom %></li>
                  <li><%= countryDetails[i].nocr %></li>
                  <li><%= countryDetails[i].nodpom %></li>
                  <li><%= countryDetails[i].nott %></li>
                  <li><%= countryDetails[i].notpom %></li>
               </tr>
        <%  }   %>
  </table>
</div>
<%- include('partials/footer') -%>
