<%- include('partials/allcheader') -%>
  <table>
    <% for(var i=0;i<countryDetails.length;i++){ %>
            <tr>
                <td>Country</td>
                <td><%= countryDetails[i].name %></td>
            </tr>
            <tr>
                <td>Cases</td>
                <td><%= countryDetails[i].noc %></td>
            </tr>
            <tr>
              <td>Today Cases</td>
              <td><%= countryDetails[i].notc %></td>
            </tr>
            <tr>
              <td>Deaths</td>
              <td><%= countryDetails[i].nod %></td>
            </tr>
            <tr>
              <td>Today Deaths</td>
              <td><%= countryDetails[i].notd %></td>
            </tr>
            <tr>
              <td>Recovered Cases</td>
              <td><%= countryDetails[i].nor %></td>
            </tr>
            <tr>
              <td>Active Cases</td>
              <td><%= countryDetails[i].noa %></td>
            </tr>
            <tr>
              <td>Critical Cases</td>
              <td><%= countryDetails[i].nocpom %></td>
            </tr>
            <tr>
              <td>Cases Per One Million</td>
              <td><%= countryDetails[i].nocr %></td>
            </tr>
            <tr>
              <td>Deaths Per One Million</td>
              <td><%= countryDetails[i].nodpom %></td>
            </tr>
            <tr>
              <td>Total tests conducted</td>
              <td><%= countryDetails[i].nott %></td>
            </tr>
            <tr>
                <td>Tests Per One Million</td>
                <td><%= countryDetails[i].notpom %></td>
            </tr>
        <%  }   %>
  </table>
<%- include('partials/footer') -%>
