<%- include('partials/headerCountry') -%>
    <!-- <h1><%= countryDetails. %></h1>
    <p><%= noc %></p>
    <p><%= notc %></p>
    <p><%= nod %></p>
    <p><%= nor %></p>
    <p><%= noa %></p>
    <p><%= nocr %></p>
    <p><%= nocpom %></p>
    <p><%= nodpom %></p>
    <p><%= nott %></p>
    <p><%= notpom %></p> -->
<%- include('partials/footer') -%>
