<%- include('partials/header') -%>

<div class="card" style="width: 24rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><h1>Country: <%= %> <%= %></h1></li>
    <li class="list-group-item"><h1>Cases: <%= %> </h1></li>
    <li class="list-group-item"><h1>Today Cases: <%= %></h1></li>
    <li class="list-group-item"><h1>Deaths: <%= %> </h1></li>
    <li class="list-group-item"><h1>Today Deaths: <%= %> </h1></li>
    <li class="list-group-item"><h1>Recovered: <%= %> </h1></li>
    <li class="list-group-item"><h1>Today Recovered: <%= %> </h1></li>
    <li class="list-group-item"><h1>Active: <%= %> </h1></li>
    <li class="list-group-item"><h1>Critical: <%= %> </h1></li>
    <li class="list-group-item"><h1>Cases per One Million: <%= %> </h1></li>
    <li class="list-group-item"><h1>Deaths Per One Million: <%= %> </h1></li>
    <li class="list-group-item"><h1>Tests: <%= %> </h1></li>
    <li class="list-group-item"><h1>Tests per One Million: <%= %> </h1></li>
    <li class="list-group-item"><h1>Population: <%= %> </h1></li>
    <li class="list-group-item"><h1>Continent: <%= %> </h1></li>
    <li class="list-group-item"><h1>One Case Per People: <%= %> </h1></li>
    <li class="list-group-item"><h1>One Death Per People: <%= %> </h1></li>
    <li class="list-group-item"><h1>One Test Per People: <%= %> </h1></li>
    <li class="list-group-item"><h1>Active Cases Per One Million: <%= %> </h1></li>
    <li class="list-group-item"><h1>Recovered Cases Per One Million: <%= %> </h1></li>
    <li class="list-group-item"><h1>Critical Cases Per One Million: <%= %> </h1></li>
  </ul>
</div>

<%- include('partials/footer') -%>
